*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    min-height: 484px;
    color: white;
}
nav{
    font-size: 16px;
    min-width: 62.5%;
    margin: 13px;
}
#logo{
    width: 17%;
}
#login{
    width: 17%;
    text-align: right;
}
button{
    padding: 10px;
    border-radius: 20px;
    border-style: hidden;
}
button:hover{
    text-decoration: none;
    background-color: yellow;
    transition: 1s;
}
#link{
    width: 66%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.bloccoUno{
    display: flex;
    justify-content: center;

}
.flexContainerUno{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;

}
.bloccoDue{
    min-height: 418px;
    display: flex;
    justify-content: center;
}
.flexContainerDue{
    display: flex;
    align-items: center;
    min-width: 47.5%;
    margin: 44px;
    justify-content: space-around;
    border-radius: 5px;
    flex-direction: column;
    text-align: center;
}
.inline{
    display: inline-block;

}
#dMac{
    background-color: white;
}
#dMac:hover{
    text-decoration: none;
    background-color: yellow;
    transition: 1s;
}
#oApp{
    color: white;
    background-color: black;
}
#oApp:hover{
    text-decoration: none;
    background-color: yellow;
    transition: 1s;
}
.bloccom1{
    background-color: white;
    width: 100%;
    min-height: 504px;
    display: flex;
    justify-content: center;
    align-items: start;
}
.p1{
    display: flex;
    max-width: 42%;
    min-height: 415px;
    margin: 45px 0px;
}
.p2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 21%;
    min-height: 415px;
    margin: 45px 0px;
}
h2{
    font: bold;
    font-size: 35px;
}
.bloccom2{
    width: 100%;
    min-height: 504px;
    display: flex;
    justify-content: center;
}
.bloccom3{
    width: 100%;
    min-height: 835px;
    display: flex;
    justify-content: center;
}
.p3{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 62.5%;
    min-height: 750px;
    margin: 45px 0px;
    text-align: center;
}
.btnFondo{
    background-color: #8799d6;
    color: white;
}
.btnFondo:hover{
    text-decoration: none;
    background-color: yellow;
    transition: 1s;
}
.bloccom4{
    background-color: rgb(35, 39, 42);
    width: 100%;
    display: flex;
    justify-content: center;
}
.p4{
    max-width: calc(62.5% /3);
    align-items: center;
}
.p5{
    max-width: calc(62.5% /6);
}
.p45{
    margin: 12px 0px 35px 0px;
}
.bloccom5{
    background-color: rgb(35, 39, 42);
    display: flex;
    justify-content: center;
    width: 100%;
}
.p6{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    min-width: 62.5%;
    min-height: 66px;
    align-items: center;
}
.p7{
    display: flex;
    flex-direction: row;
    max-width: 62.5%;
    margin: 45px 0px;
    justify-content: space-between;
    color: white;
}
.blueText{
    color: #7289da;
}
.p8{
    max-width: 62.5%;
}
.ita{
    width: 20px;
}
#wave{
    opacity: 0.05;
    transform: scaleY(-1);
}
span:hover{
    text-decoration: none;
    background-color: yellow;
    transition: 1s;
}